<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('views.static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('views.static', filename='fontawesome/css/all.min.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}{% endblock %}
    <title>Sensor Recordings</title>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('views.index') }}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('views.list_recordings')}}">Recordings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('views.list_participants')}}">Participants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('views.get_open_auth_requests')}}">Authentication requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('views.list_tags')}}">Tags</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('views.settings')}}">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('views.tfmodel')}}">TF model</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" id="main">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</main>

<script src="{{ url_for('views.static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>