{% extends "base.html" %}

{% block content %}
    <div class="row mb-3">
        <h1>Open requests</h1>
    </div>
        {% for key, auth_request in open_requests.items() %}
            <div class="row">
                <div class="col">{{ auth_request.identifier }}</div>
                <div class="col">{{ auth_request.granted }}</div>
                <div class="col"><a class="btn btn-primary" href="{{url_for('views.grant_auth_request', auth_id=key)}}">Grant</a></div>
            </div>
        {% endfor %}
{% endblock %}