{% extends "base.html" %}

{% block head %}
    <link  href="{{ url_for('views.static', filename='list_recordings.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <h1>Recordings</h1>
    </div>
    <div class="row mb-3">
        <div class="col-md-8">
            <div class="row">
                <div class="input-group">
                     <div class="input-group-prepend">
                         <span class="input-group-text" for="filter_selection">Filter for :</span>
                     </div>
                        <select class="form-select" id="filter_selection" onchange="update_filter_field()" style="max-width: 200px">
                             <option value="android_id">Android id</option>
                             <option value="tf_model">TF model</option>
                             <option value="app_version">App version</option>
                             <option value="date">Date</option>
                             <option value="description">Description</option>
                         </select>
                    <input type="text" id="filter_field" class="form-control" placeholder="filter value">
                    <div class="input-group-append">
                        <button class="btn btn-primary" onclick="filter_list()">set filter</button>
                    </div>
                </div>
                <div class="row mt-1 g-1 ms-5">
                    {% for key, val in current_filter.items() %}
                        <div class="col-auto">
                            <div class="filter">{{ key}}: {{ val }}<button type="button" class="btn bg-transparent ms-1" onclick="remove_filter('{{ key }}')">X</button></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col"><input type="checkbox" autocomplete="off" class="form-check-input me-1" value="null" onclick="select_all(this);"> <span id="selected_recordings" class="mr-1"></span> Recordings <span id="bulk_action" class="ml-2" style="display: none;"><button type="button" class="btn btn-danger btn-sm" onclick="delete_bulk();">Delete</button></span></div>
    </div>
        {% for recording in recordings %}
            <div class="row rec-entry">
                <div class="col-md-4"><input type="checkbox" autocomplete="off" class="form-check-input me-1" name="bulk_select" value="{{ recording.id }}" onclick="update_selection(this);"><a href="{{url_for('views.get_recording', recording_id=recording.id)}}">{{ recording.get_name() }}</a></div>
                <div class="col-md-2">{{ recording.description }}</div>
                <div class="col-md-2 text-end" style="color: {{ recording.get_file_size_color() }}">{{ recording.get_file_size() }}</div>
                <div class="col-md-2 mr-auto">{{ recording.get_last_changed() }}</div>
                <div class="col-md-1 mr-auto"><a class="btn btn-primary" href="{{url_for('views.uploaded_recording_file', path=recording.get_zip_path())}}">Download</a></div>
                <div class="col-md-1 mr-auto"><a class="btn btn-danger" href="{{url_for('views.delete_recording', recording_id=recording.id)}}">Delete</a></div>
            </div>
        {% endfor %}

    <script>
        const current_filter = {{ current_filter|tojson }};
        let deletion_buffer = 0;

        function filter_list(){
            const filter_param = document.getElementById('filter_selection').value;
            const filter_value = document.getElementById('filter_field').value;

            current_filter[filter_param] = filter_value;
            if (filter_value === "")
                delete current_filter[filter_param];
            load_filtered_list();
        }

        function load_filtered_list(){
            let url = window.location.href;
            let params = '?';
            console.log(current_filter);
            for (let key in current_filter) {
              params += key + '=' + current_filter[key];
              params += '&';
            }
            params = params.slice(0, -1);
            if (url.indexOf('?') > -1){
                url = url.slice(0, url.indexOf('?')-1)
            }
            url += params
            window.location.href = url;
        }

        function update_filter_field(){
            console.log(current_filter);
            const selected_filter = document.getElementById('filter_selection').value;
            console.log(selected_filter);
            if (selected_filter in current_filter){
                document.getElementById('filter_field').value = current_filter[selected_filter];
            } else {
                document.getElementById('filter_field').value = '';
            }
        }

        function remove_filter(filter){
            delete current_filter[filter];
            load_filtered_list();
        }

        function update_selection(box){
            let selected_boxes = 0;
            let checkboxes = document.getElementsByName('bulk_select');
            for(var i=0, n=checkboxes.length;i<n;i++) {
                if (checkboxes[i].checked)
                    selected_boxes++;
            }
             if (selected_boxes === 0) {
                 document.getElementById("selected_recordings").innerHTML = "";
                 show_bulk_action(false);
             } else {
                 document.getElementById("selected_recordings").innerHTML = selected_boxes;
                 show_bulk_action(true);
             }
        }

        function select_all(box){

            let checkboxes = document.getElementsByName('bulk_select');
            for(var i=0, n=checkboxes.length;i<n;i++) {
                checkboxes[i].checked = box.checked;
            }
            if (box.checked === false) {
                document.getElementById("selected_recordings").innerHTML = "";
                show_bulk_action(false);
            } else {
                document.getElementById("selected_recordings").innerHTML = checkboxes.length;
                show_bulk_action(true);
            }
        }

        function show_bulk_action(visible){
            if (visible)
                document.getElementById("bulk_action").style.display = 'inline';
            else
                document.getElementById("bulk_action").style.display = 'none';
        }

        function delete_bulk(){
            let checkboxes = document.getElementsByName('bulk_select');
            let to_delete = [];
            for(let i=0, n=checkboxes.length;i<n;i++) {
                if (checkboxes[i].checked){
                    to_delete.push(checkboxes[i].value);
                }
            }
            deletion_buffer = to_delete.length;
            for (let i=0; i < to_delete.length; i++){
                fetch(`{{url_for('views.delete_recording')}}${to_delete[i]}/`)
                    .then(function (){
                        deletion_buffer--;
                        check_empty_deletion_buffer();
                    });
            }
        }

        function check_empty_deletion_buffer(){
            if (deletion_buffer === 0)
                location.reload();
        }

        document.addEventListener('DOMContentLoaded', function() {
            update_filter_field();
        }, false);


    </script>
{% endblock %}