<div class="row mb-3">
    <div class="col">
        <input type="checkbox" autocomplete="off" class="form-check-input me-1" value="null"
               onclick="select_all(this);">
        <span id="selected_recordings" class="mr-1"></span>Recordings
        <span id="bulk_action" class="ml-2" style="display: none;">
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                    data-bs-target="#bulk-delete-modal">Delete</button>
            <button type="button" class="btn btn-warning btn-sm ms-1"
                    onclick="clear_plot_bulk()">Clear plot data</button>
            <button type="button" class="btn btn-warning btn-sm ms-1" onclick="update_zip_bulk()">Update zips</button>
            {% if participant %}
                <button type="button" class="btn btn-warning btn-sm ms-1" onclick="unassign_bulk({{ participant.id }})">Unassign</button>
            {% endif %}

            <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="assignTagDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Assign Tag
            </button>
            <div class="dropdown-menu" aria-labelledby="assignTagDropdownMenuButton">
                {% for tag in all_tags %}
                    <li><a class="dropdown-item" onclick="assign_tag_bulk({{ tag.id }})">{{ tag.name }}</a></li>
                {% endfor %}
            </div>

            <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="unassignTagDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Unassign Tag
            </button>
            <div class="dropdown-menu" aria-labelledby="unassignTagDropdownMenuButton">
                {% for tag in all_tags %}
                    <li><a class="dropdown-item" onclick="unassign_tag_bulk({{ tag.id }})">{{ tag.name }}</a></li>
                {% endfor %}
            </div>

            <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="compdsTagDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"">
                Complete dataset files
            </button>
            <div class="dropdown-menu" aria-labelledby="compdsTagDropdownMenuButton">
                <button type="button" class="btn btn-secondary btn-sm ms-1" onclick="complete_datasets_bulk(false)">Unlabeled</button>
                <button type="button" class="btn btn-secondary btn-sm ms-1" onclick="complete_datasets_bulk(true)">Labeled</button>
            </div>
        </span>
    </div>
</div>
<div class="row">
    <th class="col">
        <table class="table  table-striped table-hover" id="recordings_table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Note</th>
                <th scope="col">Tags</th>
                <th scope="col">Size</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for recording in recordings %}
                <tr title="{{ recording.get_short_info() }}">
                    <th scope="col"><input type="checkbox" autocomplete="off" class="form-check-input me-1"
                                           name="bulk_select" value="{{ recording.id }}"
                                           onclick="update_selection(this);"></th>
                    <td>
                        <a href="{{ url_for('views.get_recording', recording_id=recording.id) }}">{{ recording.get_name() }}</a>
                    </td>
                    <td>{{ recording.description }}</td>
                    <td {% if highlight_tags and recording.highlight %}style="background-color: #8aff97" {% endif %}>
                        {% for tag in recording.tags %}
                            <i class="{{ tag.icon_name }}" style="color: {{ tag.icon_color }}"
                               title="{{ tag.description }}"></i>
                        {% endfor %}
                    </td>
                    <td style="color: {{ recording.get_file_size_color() }}">{{ recording.get_file_size() }}</td>
                    <td><h6>{{ recording.get_formatted_date() }}</h6><small class="text-muted">{{ recording.get_formatted_upload_date() }}</small></td>
                    <td>
                        <a class="btn btn-primary"
                           href="{{ url_for('views.uploaded_recording_file', path=recording.get_zip_name()) }}">Download</a>
                        <button type="button" class="btn btn-danger" onclick="show_single_delete_modal({{ recording.id }}, '{{ recording.get_name() }}')">Delete</button>
                        {% if participant %}
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="manualPredictionButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    Manual prediction
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="manualPredictionButton">
                                    {% for personalization in participant.personalizations %}
                                        <li><a class="dropdown-item" href="{{url_for('views.personalization_manual_prediction', participant_id=participant.id, personalization_id=personalization.id, recording_id=recording.id)}}">[{{ personalization.version }}] {{ add_manual_prediction_info(recording, personalization) }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
</div>


<div class="modal fade" id="bulk-delete-modal" tabindex="-1" aria-labelledby="bulkDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want do delete <b id="selected-count"></b> recordings? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="delete_bulk()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="single-delete-modal" tabindex="-1" aria-labelledby="singleDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want do delete <b id="to-delete-recording"></b>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="single_delete()">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
    let deletion_buffer = 0;
    let tmp_delete_recording = null;
    let last_clicked_selection = null;

    function update_selection(box) {
        let selected_boxes = 0;
        let checkboxes = document.getElementsByName('bulk_select');

        if (event.shiftKey && last_clicked_selection != null) {
            console.log('shift select');
            let my_index = null;
            let last_index = null;
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                if (checkboxes[i] === box)
                    my_index = i;
                if (checkboxes[i] === last_clicked_selection)
                    last_index = i;
            }
            console.log(my_index, last_index, Math.min(my_index, last_index),  Math.max(my_index, last_index));
            for (var i = Math.min(my_index, last_index); i <= Math.max(my_index, last_index); i++){
                checkboxes[i].checked = box.checked;
            }
        }

        for (var i = 0, n = checkboxes.length; i < n; i++) {
            if (checkboxes[i].checked)
                selected_boxes++;
        }
        if (selected_boxes === 0) {
            document.getElementById("selected_recordings").innerHTML = "";
            show_bulk_action(false);
        } else {
            document.getElementById("selected_recordings").innerHTML = selected_boxes;
            document.getElementById("selected-count").innerText = selected_boxes;
            show_bulk_action(true);
        }

        last_clicked_selection = box;
    }

    function select_all(box) {

        let checkboxes = document.getElementsByName('bulk_select');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = box.checked;
        }
        if (box.checked === false) {
            document.getElementById("selected_recordings").innerHTML = "";
            show_bulk_action(false);
        } else {
            document.getElementById("selected_recordings").innerHTML = checkboxes.length;
            show_bulk_action(true);
        }
    }

    function show_bulk_action(visible) {
        if (visible)
            document.getElementById("bulk_action").style.display = 'inline';
        else
            document.getElementById("bulk_action").style.display = 'none';
    }

    function delete_bulk() {
        let checkboxes = document.getElementsByName('bulk_select');
        let to_delete = [];
        for (let i = 0, n = checkboxes.length; i < n; i++) {
            if (checkboxes[i].checked) {
                to_delete.push(checkboxes[i].value);
            }
        }
        deletion_buffer = to_delete.length;
        for (let i = 0; i < to_delete.length; i++) {
            fetch(`{{url_for('views.delete_recording')}}${to_delete[i]}/?bulk=True`)
                .then(function () {
                    deletion_buffer--;
                    check_empty_deletion_buffer();
                });
        }
    }


    function clear_plot_bulk() {
        let checkboxes = document.getElementsByName('bulk_select');
        let to_delete = [];
        for (let i = 0, n = checkboxes.length; i < n; i++) {
            if (checkboxes[i].checked) {
                to_delete.push(checkboxes[i].value);
            }
        }
        deletion_buffer = to_delete.length;
        for (let i = 0; i < to_delete.length; i++) {
            fetch(`{{url_for('views.clean_recording')}}${to_delete[i]}/?bulk=True`)
                .then(function () {
                    deletion_buffer--;
                    check_empty_deletion_buffer();
                });
        }
    }

    function update_zip_bulk() {
        let checkboxes = document.getElementsByName('bulk_select');
        let to_delete = [];
        for (let i = 0, n = checkboxes.length; i < n; i++) {
            if (checkboxes[i].checked) {
                to_delete.push(checkboxes[i].value);
            }
        }
        deletion_buffer = to_delete.length;
        for (let i = 0; i < to_delete.length; i++) {
            fetch(`{{url_for('views.update_recording_zip')}}${to_delete[i]}/?bulk=True`)
                .then(function () {
                    deletion_buffer--;
                    check_empty_deletion_buffer();
                });
        }
    }

    function unassign_bulk(participant_id) {
        let checkboxes = document.getElementsByName('bulk_select');
        let to_delete = [];
        for (let i = 0, n = checkboxes.length; i < n; i++) {
            if (checkboxes[i].checked) {
                to_delete.push(checkboxes[i].value);
            }
        }
        deletion_buffer = to_delete.length;
        for (let i = 0; i < to_delete.length; i++) {
            fetch(`{{url_for('views.unassign_recording_from_participant')}}/${participant_id}/${to_delete[i]}/?bulk=True`)
                .then(function () {
                    deletion_buffer--;
                    check_empty_deletion_buffer();
                });
        }
    }

    function assign_tag_bulk(tag_id) {
        let checkboxes = document.getElementsByName('bulk_select');
        let to_delete = [];
        for (let i = 0, n = checkboxes.length; i < n; i++) {
            if (checkboxes[i].checked) {
                to_delete.push(checkboxes[i].value);
            }
        }
        deletion_buffer = to_delete.length;
        for (let i = 0; i < to_delete.length; i++) {
            fetch(`{{url_for('views.assign_recording_tag')}}${to_delete[i]}/?tag_id=${tag_id}&bulk=True`)
                .then(function () {
                    deletion_buffer--;
                    check_empty_deletion_buffer();
                });
        }
    }

    function unassign_tag_bulk(tag_id) {
        let checkboxes = document.getElementsByName('bulk_select');
        let to_delete = [];
        for (let i = 0, n = checkboxes.length; i < n; i++) {
            if (checkboxes[i].checked) {
                to_delete.push(checkboxes[i].value);
            }
        }
        deletion_buffer = to_delete.length;
        for (let i = 0; i < to_delete.length; i++) {
            fetch(`{{url_for('views.unassign_recording_tag')}}${to_delete[i]}/?tag_id=${tag_id}&bulk=True`)
                .then(function () {
                    deletion_buffer--;
                    check_empty_deletion_buffer();
                });
        }
    }

    function check_empty_deletion_buffer() {
        if (deletion_buffer === 0)
            location.reload();
    }

    function show_single_delete_modal(recording_id, recording_name){
        document.getElementById("to-delete-recording").innerHTML = recording_name;
        tmp_delete_recording = recording_id;
        const myModal = new bootstrap.Modal(document.getElementById('single-delete-modal'));
        myModal.show();
    }

    function single_delete(){
        console.log("delete", tmp_delete_recording);
        fetch(`{{url_for('views.delete_recording')}}${tmp_delete_recording}/?bulk=True`)
            .then(function () {
                location.reload();
            });
    }

    function complete_datasets_bulk(labeled) {
        const dl_button = document.getElementById("compdsTagDropdownMenuButton");
        dl_button.innerText = "packing files...";
        let checkboxes = document.getElementsByName('bulk_select');
        let include_recs = [];
        for (let i = 0, n = checkboxes.length; i < n; i++) {
            if (checkboxes[i].checked) {
                include_recs.push(checkboxes[i].value);
            }
        }
        const content = {'participant': null, 'recordings': include_recs}
        {% if participant %}
            content['participant'] = {{ participant.id }};
        {% endif %}

        if (labeled)
            content['labeled'] = true;

        fetch(`{{url_for('views.get_complete_dataset_files')}}`, {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(content),
        }).then((response) => response.json())
            .then((data) => {
                if(data['status'] === 'success') {
                    console.log('Success:', data);
                    dl_button.innerText = "downloading...";
                    const file_name = data['target'];
                    fetch(`{{url_for('views.generated_tmp_file')}}${file_name}`)
                        .then((res) => {
                            return res.blob();
                        })
                        .then((data) => {
                            var a = document.createElement("a");
                            a.href = window.URL.createObjectURL(data);
                            a.download = file_name;
                            a.click();
                        }).then(() => {
                        fetch(`{{url_for('views.clean_complete_dataset_files')}}${file_name}`)
                            .then(() => {
                                dl_button.innerText = "finished";
                            });
                    });
                } else {
                    dl_button.innerText = "error";
                }
            })
    }


</script>