{% extends "base.html" %}

{% block content %}
    <div class="row mb-3">
        <h1>Settings</h1>
    </div>
    <div class="row">
        <form action="{{url_for('views.settings')}}" method="post">
            {% for key, value in setting_entries.items() %}
            <div class="form-group mt-2">
                <label for="input_{{ key }}">{{ key}}</label>
                {% if value|is_boolean %}
                    <input type="checkbox" class="form-check-input" name="{{ key }}" id="input_{{ key }}"
                           {{ value|render_is_checked }}>
                {% elif value|is_number %}
                    <input type="number" class="form-control" name="{{ key }}" id="input_{{ key }}" value="{{ value }}">
                {% else %}
                    <input type="text" class="form-control" name="{{ key }}" id="input_{{ key }}" value="{{ value }}">
                {% endif %}
                {% if key in setting_hints %}
                    <small id="{{ key }}Help" class="form-text text-muted">{{ setting_hints[key] }}</small>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
    <hr/>
    <div class="row mt-3">
        <div class="col">
            <div class="row">
                <div class="col"><h3>Triggers</h3></div>
            </div>
            <div class="row">
                <div class="col"><a class="btn btn-primary" href="{{url_for('views.index_recordings')}}">Index Recordings</a></div>
            </div>
        </div>
    </div>

{% endblock %}