{% extends "base.html" %}

{% block content %}
    <div class="row mb-3">
        <h1>Settings</h1>
    </div>
    <div class="row">
        <form action="/settings/" method="post">
            {% for key, value in setting_entries.items() %}
            <div class="form-group">
                <label for="input_{{ key }}">{{ key}}</label>
                {% if value|is_boolean %}
                    <input type="checkbox" class="form-check-input" name="{{ key }}" id="input_{{ key }}"
                           {{ value|render_is_checked }}>
                {% else %}
                    <input type="text" class="form-control" name="{{ key }}" id="input_{{ key }}" value="{{ value }}">
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
{% endblock %}