{% extends "base.html" %}

{% block content %}
    <div class="row mb-3">
        <h1>Recording: {{ recording.get_name() }}</h1>
    </div>

    <div class="row mb-6">
        <div class="col md-6">
            <form action="{{url_for('views.recording_description', recording_id=recording.id)}}" method="post">
                <div class="form-group">
                    <label for="descriptionInput">Description</label>
                    <textarea class="form-control" id="descriptionInput" name="description">{{ recording.description}}</textarea>
                </div>
                <button type="submit" class="btn btn-sm btn-primary mt-1" value="Submit">New description</button>
            </form>
        </div>
        <div class="col md-6">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="row"><h3>Tags</h3></div>
            <div class="row">
                <div class="col">

                    {% for tag in all_tags %}
                        <button onclick="toggle_tag({{ tag.id }})" class="btn {% if tag in recording.tags %}btn-outline-primary {% else %}btn-outline-secondary{% endif %}" title="{{ tag.description }}">{{ tag.name }}<i class="ms-1 {{ tag.icon_name }}" style="color: {{ tag.icon_color }}; {% if tag not in recording.tags %}filter: brightness(85%);{% endif %}"></i></button>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="row"><h3>Meta Info</h3></div>
            <div class="row">
                <div class="col ms-5">
                    {% for key, value in meta_info.items() %}
                        <div class="row">
                            <div class="col-md-3">
                                {{ key }}:
                            </div>
                            <div class="col-md-6">
                                {{ value|replace(',"', ', "') }}
                            </div>
                            <div class="col-md-3">
                                <button  type="button" class="btn btn-primary btn-sm" onclick="filterRecordings('{{ key }}', '{{ value }}')">Show all</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row"><h4>Participant</h4></div>
            <div class="row mb-2">
                <div class="col">
                    <div class="row">
                        {% for participant in participants %}
                            <div class="col"><a href="{{url_for('views.get_participant', participant_id=participant.id)}}">{{ participant.get_name() }}</a> </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <div class="row">
                        <h4>Statistics</h4>
                    </div>

                    <div class="row">
                        <div class="col">
                            {% if recording.stats %}
                                {% for key, val in recording.stats.get_stats().items() %}
                                    <div class="row">
                                        <div class="col">{{ key }}:</div>
                                        <div class="col">{{ val }}</div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button id="button_update_stats" class="btn btn-primary btn-sm" onclick="update_stats()">update</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <h4>Evaluations</h4>
                    </div>

                    <div class="row">
                        <div class="col">
                            {% if recording.stats %}
                                {% for key, val in recording.get_evaluation_dict().items() %}
                                    <div class="row">
                                        <div class="col">{{ key }}:</div>
                                        <div class="col">{{ val }}</div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row"><h3>Data</h3></div>
            <div class="row mb-1">
                <div class="col">
                    <button class="btn btn-primary" id="plot_button" onclick="loadPlot()">Data plot</button>
                    <a class="btn btn-primary" href="{{url_for('views.uploaded_recording_file', path=recording.get_zip_path())}}">Download data set</a>
                </div>
                <div class="col"><a class="btn btn-danger" href="{{url_for('views.clean_recording', recording_id=recording.id)}}">Clean plot data</a></div>
            </div>

            {% if not sensor_data_file %}
                <div class="row">
                    <div class="col">
                        <h4><a class="btn btn-primary" href="{{url_for('views.generate_numpy_data', recording_id=recording.id)}}">Generate numpy data</a></h4>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-2">
                        <h4><a class="btn btn-primary" href="{{url_for('views.uploaded_recording_file', path=sensor_data_file)}}" data-toggle="tooltip" data-placement="top" title="Shape: (num_values, 6)">Sensor numpy file</a></h4>
                    </div>
                    <div class="col-md-2">
                        <h4><a class="btn btn-primary" href="{{url_for('views.uploaded_recording_file', path=sensor_data_flattened_file)}}" data-toggle="tooltip" data-placement="top" title="Shape: (num_values * 6,)">Sensor numpy file flattened</a></h4>
                    </div>
                    <div class="col-md-2">
                        <h4><a class="btn btn-danger btn-sm" href="{{url_for('views.delete_numpy_data', recording_id=recording.id)}}">Clean generated data ({{ generated_data_size }})</a></h4>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row mt-2">
        <h3>Files
            <small class="text-muted">{{ total_size }}</small>
        </h3>
    </div>

    {% for file in files %}
        <div class="row mt-1">
            <div class="col"><a href="{{url_for('views.uploaded_recording_file', path=recording.base_name+'/'+file)}}">{{ file }}</a></div>
            <div class="col"><a class="btn btn-danger" href="{{url_for('views.delete_recording_file', recording_id=recording.id, file_name=file)}}">Delete</a></div>
        </div>
    {% endfor %}


    <script>
        function loadPlot(){
            const button = document.getElementById("plot_button");

            button.innerHTML = "Generating plot...";
            window.location.href = '{{url_for('views.plot_recording', recording_id=recording.id)}}';
        }

        function update_stats(){
            document.getElementById('button_update_stats').innerText = 'loading...';
            document.location.href = "{{ url_for('views.update_recording_stats', recording_id=recording.id) }}";
        }

        function filterRecordings(filter_arg, filter_val){
            window.location.href = `{{url_for('views.list_recordings')}}?${filter_arg}=${filter_val}`;
        }

        function toggle_tag(tag_id){
            document.location.href = `{{ url_for('views.toggle_recording_tag', recording_id=recording.id) }}?tag_id=${tag_id}`;
        }

    </script>

{% endblock %}