{% extends "base.html" %}

{% block content %}
    <div class="row mb-3">
        <h1>Recording: {{ recording_name }}</h1>
    </div>

    <div class="row mb-6">
        <div class="col md-6">
            <form action="/recording/description/{{ recording_name}}/" method="post">
                <div class="form-group">
                    <label for="descriptionInput">Description</label>
                    <textarea class="form-control" id="descriptionInput" name="description">{{ description}}</textarea>
                </div>
                <button type="submit" class="btn btn-sm btn-primary mt-1" value="Submit">New description</button>
            </form>
        </div>
        <div class="col md-6">
    </div>
    <div class="row mt-3"></div>
    <div class="row mt-2"><h3>Files</h3></div>

        {% for file in files %}
            <div class="row">
                <div class="col"><a href="/uploads/{{ recording_name }}/{{ file }}">{{ file }}</a></div>
                <div class="col"><a class="btn btn-danger" href="/recordingfile/delete/{{ recording_name }}/{{ file }}/">Delete</a></div>
            </div>
        {% endfor %}
    <div class="row mt-3">
        <h4><a class="btn btn-primary" href="/recording/plot/{{ recording_name }}/">Data plot</a></h4>
    </div>

{% endblock %}