{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="row mb-1">
        <h1>Personalization: <a href="{{ url_for('views.get_participant', participant_id=participant.id) }}">{{ participant.get_name() }}</a></h1>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" onclick="start_personalization()" title="{{ get_pseudo_label_filter_description('alldeepconv_correctbyconvlstm3filter6') }}">Start personalization</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    {% for setting_name in pseudo_model_settings %}
                        <li><a class="dropdown-item" onclick="start_personalization('{{ setting_name }}')" title="{{ get_pseudo_label_filter_description(setting_name) }}">{{ setting_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="useBestCheck">
                <label class="form-check-label" for="useBestCheck">
                    Base on best personalization
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="useRegularizationCheck">
                <label class="form-check-label" for="useRegularizationCheck">
                    use L2-SP regularization
                </label>
            </div>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" onclick="rerun_tests()">Rerun tests</button>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="row">
                <h1>Current</h1>
            </div>
            <div class="row">
                <div class="col ms-5">
                    {% if current_personalization %}
                        <div class="row">
                            version: {{ current_personalization.version }}
                        </div>
                        <div class="row">
                            iterations: {{ current_personalization.iteration }}
                        </div>
                    {% else %}
                        <div class="row">
                            No personalization available
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row"><h3>Evolution</h3></div>
            <div class="row">
                <div class="col">
                    {% for personalization in participant.personalizations %}
                        <div class="row border mb-1">
                            <div class="col">
                                <div class="row">
                                    <div class="col-1 border-end">
                                        <h3 {% if personalization == current_personalization %} class="text-success" {% endif %}>{{ personalization.version }}</h3>
                                        {% if personalization.based_personalization %}
                                            <h3 class="text-info">{{ personalization.based_personalization.version }}</h3>
                                        {% endif %}

                                    </div>
                                    <div class="col border-end">
                                        <div class="row">
                                            iterations: {{ personalization.iteration }} mean_threshold: {{ personalization.mean_threshold }} mean_kernel_width: {{ personalization.mean_kernel_width }}
                                        </div>
                                        <div class="row">
                                            false_diff_relative: {{ personalization.false_diff_relative }} correct_diff_relative:{{ personalization.correct_diff_relative }}
                                        </div>
                                        <div class="row">
                                            pseudo label filter: {{ personalization.used_filter }}
                                        </div>
                                        <div class="row">
                                            used L2-SP: {{ personalization.used_regularization}}
                                        </div>
                                        <div class="row">
                                            required computation time: {{ personalization.required_time | render_seconds_to_time}}
                                        </div>
                                        <div class="row">
                                            sensitivity: {{ personalization.sensitivity}}
                                        </div>
                                        <div class="row">
                                            precision: {{ personalization.precision}}
                                        </div>
                                        <div class="row">
                                            f1: {{ personalization.f1}}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row"><h6>Test sets:</h6></div>
                                        {% for test_recording in test_recordings_per_personalization[loop.index0] %}
                                            <div class="row"><a href="{{url_for('views.uploaded_participant_file', path=participant.id ~ '/quality_plot_test_' ~ personalization.id ~ '_' ~ test_recording.id ~ '.svg')}}">{{ test_recording.recording.get_name() }}</a></div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-1">
                                        <a href="{{ url_for('views.participant_delete_personalization', participant_id=participant.id, personalization_id=personalization.id) }}" class="btn btn-block btn-danger float-end">X</a>
                                    </div>
                                </div>
                                <div class="row border-top">
                                    <div class="col ms-2">
                                        <h6>Train sets:</h6>
                                        {% for recording in personalization.recordings %}
                                            {% if recording.used_for_training %}
                                                <a href="{{url_for('views.uploaded_participant_file', path=participant.id ~ '/pseudo_labels_' ~ personalization.id ~ '_' ~ recording.id ~ '.svg')}}">{{ recording.recording.get_name() }}</a> |
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <pre id="output"></pre>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <pre id="erroutput"></pre>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button id="refreshButton" class="btn btn-primary" onclick="get_log()">Refresh log</button>
        </div>
    </div>


    <script>
        var output = document.getElementById('output');
        var erroutput = document.getElementById('erroutput');
        var logging_is_active = false;
        var log_interval = null;
        var err_interval = null;

        var last_log_change = 0;

        function read_log_file() {
            fetch('{{ url_for('views.personalization_log_of_participant', participant_id=participant.id) }}').then(
                function(response) {
                    if (!response.ok) {
                        throw Error(response.statusText);
                    }
                    return response.text().then(function(text) {
                        check_for_stop_logging(output.textContent, text);
                        output.textContent = text;
                    }).catch(function(error) {
                        console.log(error);
                        stop_logging();
                    });
                });

        }

        function read_err_file() {
            fetch('{{ url_for('views.personalization_errlog_of_participant', participant_id=participant.id) }}').then(
                function(response) {
                    if (!response.ok) {
                        throw Error(response.statusText);
                    }
                    return response.text().then(function(text) {
                        check_for_stop_logging(erroutput.textContent, text.split(/\r?\n/).pop());
                        erroutput.textContent = text.split(/\r?\n/).pop();
                    }).catch(function(error) {
                        console.log(error);
                        stop_logging();
                    });
                });
        }

        function check_for_stop_logging(current_text, new_text){
            if (current_text == new_text){
                if (Date.now() - last_log_change > 120 * 1000){
                    stop_logging();
                }
            } else {
                last_log_change = Date.now();
            }
        }

        function stop_logging(){
            clearInterval(log_interval);
            clearInterval(err_interval);
            logging_is_active = false;
            const button = document.getElementById("refreshButton");
            button.classList.remove("btn-secondary");
            button.classList.add("btn-primary");
        }

        function get_log(){
            if (!logging_is_active){
                logging_is_active = true;
                log_interval = setInterval(read_log_file, 5000);
                err_interval = setInterval(read_err_file, 5000);
                last_log_change = Date.now();
                const button = document.getElementById("refreshButton");
                button.classList.remove("btn-primary");
                button.classList.add("btn-secondary");
            }
        }

        function start_personalization(target_filter=null){
            const use_best = document.getElementById("useBestCheck").checked;
            const use_regularization = document.getElementById("useRegularizationCheck").checked;
            let url_extend = '';
            if (target_filter !== null)
                url_extend = '?filter=' + target_filter
            if (use_best){
                if (url_extend === '')
                    url_extend = '?'
                else
                    url_extend += '&'
                url_extend += 'use_best=' + use_best;
            }
            if (use_regularization){
                if (url_extend === '')
                    url_extend = '?'
                else
                    url_extend += '&'
                url_extend += 'use_regularization=' + use_regularization;
            }

            fetch(`{{url_for('views.participant_start_personalization', participant_id=participant.id)}}${url_extend}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data.status == 'error'){
                        output.textContent = data.msg;
                    } else {
                        get_log();
                    }
                });
        }


        function rerun_tests(){
            fetch(`{{url_for('views.rerun_tests_on_personalizations', participant_id=participant.id)}}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data.status == 'error'){
                        output.textContent = data.msg;
                    } else {
                        get_log();
                    }
                });
        }

    </script>
{% endblock %}