{% extends "base.html" %}

{% block head %}
    <link  href="{{ url_for('views.static', filename='list_recordings.css') }}" rel="stylesheet">
    <link  href="{{ url_for('views.static', filename='bootstrap-datepicker3.standalone.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('views.static', filename='jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('views.static', filename='bootstrap-datepicker.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row mb-1">
        <h1>Participant: {{ participant.get_name() }}</h1>
    </div>

    <div class="row mb-3">
        <div class="col">
            <a class="btn btn-primary" href="{{ url_for('views.update_participant', participant_id=participant.id) }}">Edit participant</a>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <div class="row">
                <h1>Statistics</h1>
            </div>

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col"><strong>name</strong></div>
                        <div class="col"><strong>overall</strong></div>
                        <div class="col"><strong>average</strong></div>
                    </div>
                    {% if participant.stats_id %}
                        {% for key, val in participant.get_stat_entries().items() %}
                            <div class="row">
                                <div class="col">{{ key }}:</div>
                                <div class="col">{{ val[0] }}</div>
                                <div class="col">{{ val[1] }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button id="button_update_stats" class="btn btn-primary btn-sm" onclick="update_stats()">update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <h1>Recordings</h1>
    </div>

    <div class="row mb-1">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    Assign recordings:
                </div>

                <div id="add_recording_date_picker">
                    <div class="input-daterange input-group" id="datepicker">
                        <input id="input_start_date" type="text" class="input-sm form-control" name="start" />
                        <span class="input-group-addon">to</span>
                        <input id="input_end_date" type="text" class="input-sm form-control" name="end" />
                    </div>
                </div>
                <button type="button" class="btn btn-outline-primary" onclick="assign_recordings(false)">Assign</button>
                <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" onclick="assign_recordings(false)">Assign</a></li>
                    <li><a class="dropdown-item" onclick="assign_recordings(true)">Ignore android id</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include 'recordings_list.html' %}
        </div>
    </div>

    <script>
        window.onload = function () {
            $('#add_recording_date_picker .input-daterange').datepicker({
                format: "dd/mm/yyyy",
                weekStart: 1,
                todayHighlight: true
            });
        };

        function update_stats(){
            document.getElementById('button_update_stats').innerText = 'loading...';
            document.location.href = "{{ url_for('views.update_participant_stats', participant_id=participant.id) }}";
        }

        function assign_recordings(ignore_id){
            const start_date = document.getElementById('input_start_date').value;
            const end_date = document.getElementById('input_end_date').value;
            console.log('assign:', start_date, end_date, ignore_id);
            if (start_date && end_date)
                document.location.href = `{{ url_for('views.assign_recordings_to_participant', participant_id=participant.id) }}?start=${start_date}&end=${end_date}&ignoreid=${ignore_id}`;
        }

    </script>
{% endblock %}