{% extends "base.html" %}

{% block content %}
    <div class="row mb-3">
        <h1>TF Model</h1>
    </div>

    {% if upload_info_text %}
        <div class="row mb-3">
            <h1 class="text-success">{{ upload_info_text}}</h1>
        </div>
    {% endif %}

    {% if upload_error_text %}
        <div class="row mb-3">
            <h1 class="text-danger">{{ upload_error_text}}</h1>
        </div>
    {% endif %}

    <div class="row">
        <h4>Upload new model file</h4>
    </div>
    <div class="row">
        <form action="{{url_for('views.tfmodel')}}" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label for="frameSizeInput">Window size</label>
                <input type="number" class="form-control" id="frameSizeInput" name="frameSizeInput" aria-describedby="frameSizeHelp" placeholder="Enter size" value="{{ old_settings.frame_size }}">
                <small id="frameSizeHelp" class="form-text text-muted">The number of sensor values per test frame</small>
            </div>

            <div class="form-group">
                <label for="meanThresholdInput">Mean threshold</label>
                <input type="number" step="0.01" class="form-control" id="meanThresholdInput" name="meanThresholdInput" aria-describedby="meanThresholdHelp" placeholder="Enter value between 0-1" value="{{ old_settings.mean_threshold }}">
                <small id="meanThresholdHelp" class="form-text text-muted">The minimum running mean value required to trigger a hand wash event</small>
            </div>

            <div class="form-group">
                <label for="meanKernelWidthInput">Mean kernel width</label>
                <input type="number" class="form-control" id="meanKernelWidthInput" name="meanKernelWidthInput" aria-describedby="meanKernelWidthHelp" placeholder="Enter count" value="{{ old_settings.mean_kernel_size }}">
                <small id="meanKernelWidthHelp" class="form-text text-muted">The number of past values that are taken into account when calculating the mean</small>
            </div>

            <div class="form-group">
                <label for="notificationCoolDownInput">Notification cool down</label>
                <input type="number" class="form-control" id="notificationCoolDownInput" name="notificationCoolDownInput" aria-describedby="notificationCoolDownHelp" placeholder="Enter count" value="{{ old_settings.notification_cool_down }}">
                <small id="notificationCoolDownHelp" class="form-text text-muted">The minimum time in seconds between two hand wash prediction notifications</small>
            </div>

            <div class="form-group mt-1">
                <label for="requiredSensorsSelect">Required Sensors (in right order)</label>
                <div class="row">
                    <div class="col">
                        <select multiple class="form-control" id="requiredSensorsSelect" name="requiredSensorsSelect" onclick="selectAllRequiredSensors()">
                            {% for sensor in old_settings.required_sensors %}
                                <option value="{{ sensor }}" selected="true"  onclick="removeSelectedSensor(this)">{{ sensors[sensor] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <div class="row">
                            Add sensor
                        </div>
                        <div class="row">
                            {% for sensorId, sensorName in sensors.items() %}
                                <div class="col">
                                    <button type="button" class="btn btn-primary" onclick="addRequiredSensorToList({{ sensorId }}, '{{ sensorName }}')">{{ sensorName }}</button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group mt-1">
                <label for="tfModelFormControlFile">New TF Model file (optional)</label>
                <input type="file" class="form-control-file" id="tfModelFormControlFile" name="file">
            </div>
            <button type="submit" class="btn btn-primary mt-2">Upload</button>
        </form>
    </div>

    <div class="row mt-3"><h3>All Files</h3></div>
    <div class="row">
        <div class="col">
            {% for file in all_model_files %}
                <div class="row">
                    {% if file == newest_tf_file %}
                        <div class="col text-primary">{{ file }}</div>
                    {% else %}
                        <div class="col">{{ file }}</div>
                    {% endif %}
                    <div class="col-md-2"><a class=" btn btn-primary" href="{{url_for('views.uploaded_tf_file', path=all_model_file_paths[loop.index0])}}">download model</a> </div>
                    <div class="col-md-2"><a class=" btn btn-primary" href="{{url_for('views.uploaded_tf_file', path=all_model_settings[loop.index0])}}">download settings</a> </div>
                    <div class="col-md-2"><a class=" btn btn-success" href="{{url_for('views.select_tfmodel', tf_model=file)}}">Set active</a> </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>

        function addRequiredSensorToList(sensorId, sensorName){
            if(alreadyInList(sensorId))
                return;
            var option = document.createElement("option");
            option.setAttribute("value", sensorId);
            option.setAttribute("selected", true);
            option.onclick = function(){removeSelectedSensor(option);}
            option.innerHTML = sensorName;
            document.getElementById("requiredSensorsSelect").options.add(option);
        }

        function removeSelectedSensor(option){
            console.log("remove selected", option.value);
            // document.getElementById("requiredSensorsSelect").options.remove(option.value);
            var options = document.getElementById("requiredSensorsSelect").options;

            for(var i = 0; i < options.length; i++){
                if(options[i].value == option.value && options[i].selected){
                    document.getElementById("requiredSensorsSelect").options.remove(i);
                }else {
                    options[i].selected = true;
                }
            }
        }

        function selectAllRequiredSensors(){
            var options = document.getElementById("requiredSensorsSelect").options;
            for(var i = 0; i < options.length; i++){
                options[i].selected = true;
            }
        }

        function alreadyInList(sensor){
            var options = document.getElementById("requiredSensorsSelect").options;
            for(var i = 0; i < options.length; i++){
                if(options[i].value == sensor)
                    return true;
            }
            return false;
        }

    </script>
{% endblock %}