Flask~=2.0.1
Flask-HTTPAuth
Flask-SQLAlchemy
Flask-Migrate
Flask-APScheduler
Flask-Admin
Flask-BasicAuth

PyYAML~=5.4.1
gunicorn
numpy~=1.21.2
matplotlib
git+https://github.com/Alexsogge/MasterProject.git#subdirectory=scripts


Werkzeug~=2.0.1
flatbuffers~=2.0
python-dateutil~=2.8.2

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.0
onnx
onnxruntime
scikit-learn
tqdm
pandas
opencv-python

git+https://gitlab.tf.uni-freiburg.de/henkela/handwashing_personalizer.git#subdirectory=src
