Flask~=2.0.1
Flask-HTTPAuth
Flask-SQLAlchemy
Flask-Migrate
PyYAML~=5.4.1
gunicorn
numpy~=1.21.2
matplotlib
git+https://github.com/Alexsogge/MasterProject.git#subdirectory=scripts


Werkzeug~=2.0.1
flatbuffers~=2.0
python-dateutil~=2.8.2
